# Ignored files
*.bin
*.xml 
*.png 
*.jpg 
*.html
*.o
*.e
*.elf
*.cfg
*.d
*.ld
*.pdf
*.s
*.crt
*.chm
*.txt
*.bmp
*.icf
*.mk
*.project
*.list
*.map
*.cproject
*.rtf
*.lib
*.a
makefile
Projects/STM32746G-Discovery/Examples/BSP/Binary
Projects/STM32746G-Discovery/Examples/BSP/EWARM
Middlewares
Documentation
Utilities

*.crf

*.htm

*.axf

*.dep

*.lst

*.log

*.uvprojx

*.gonza

*.gggiu

*.uvoptx

*.__i
